.anime {
  font-size: 35px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 20vh;
}

@media (max-width: 850px) {
    .anime {
      min-height: 18vh;
      font-size: 25px;
    }
  }
  
  @media (max-width: 640px) {
    .anime {
      min-height: 15vh;
      font-size: 20px;
    }
  }

  @media (max-width: 520px) {
    .anime {
      min-height: 15vh;
      font-size: 15px;
    }
  }