:root {
  --background-colour: #a07154;
  --text-colour: #FBEEC1;
}

body {
  font-size: large;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-colour);
  color: var(--text-colour);
}
