.factsCon {
  min-height: 50vh;
}

.card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: var(--background-colour);
  flex-wrap: wrap;
  margin: 50px;
  width: 25rem;
  padding: 30px;
  border: 5px solid rgba(255, 255, 255, 0.8);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

.button {
  border-radius: 25px;
  min-width: 20px;
  height: 50px;
  background-color: #35251c;
  color: white;
}

.button:hover {
  background-color: #a07154;
  color: white;
}

@media (max-width: 1010px) {
  .card {
    width: 90vw;
  }
}

@media (max-width: 375px) {
  .button {
    height: 70px;
  }
}
